@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset classes */
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#0061AD;
    --inline-padding-section:20px;

}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    color: var(--secondary-text-color);
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

li{
    list-style: none;
}

/* Utility Classes */

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--inline-padding-section);
}

.small-bold-text{
    font-size: 0.85rem;
}
.hover-links{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}
.hover-links:hover{
    color: var(--accent-color);
}

.button-main{
    background-color: var(--accent-color);
    font-weight: 500;
    border-radius: 6px;
    color: white !important;
    font-weight: 400;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.button-main:hover{
    background-color: var(--accent-color-dark);
}

.button-second{
    background-color: white;
    font-weight:500;
    border-radius: 6px;
    color:black;
    font-weight: 400;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.button-second:hover{
    border-color: var(--accent-color);
    color: var(--accent-color);
}


/* Top Banner */
.top-banner{
    background-image: url(Assets/asset\ 32.png);
    background-color:#e74694;
    background-size: 300px;
}

.banner-text{
    text-align: center;
    color: white;
    padding: 15px 30px;
    font-weight: 500;
}

/* Nav Bar */

.nav-logo img{
    width: 200px;
}

.main-nav{
    justify-content: space-between;
    margin-top: 20px;
}

.nav-list ul{
    justify-content: end;
    gap: 40px;
}

.nav-list{
    flex-basis: 730px;
}

/* Header */

header{
    padding: 50px var(--inline-padding-section) 0;
}

.main-head{
    justify-content: center;
    gap: 50px;
}

.head-img img{
    width: 600px;
}

.head-content{
    max-width: 40vw;
}

.head-content h1{
    margin-top: 20px;
}

.started{
    margin-top: 20px;
}

/* Companies */

.company-header{
    text-align: center;
    color: var(--primary-text-color);
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 1rem;
}

.logo{
    height: 45px;
}

.company-logos{
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Features */

.features{
    padding: 80px var(--inline-padding-section) 0;
    background-image: url(Assets/asset\ 41.png);
    background-repeat: no-repeat;
    background-position: center;
}

.feature-header{
    text-align: center;
    margin-top: 20px;
}

.feature-header h2{
    margin-top: 40px;
}

.feature-list{
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
    margin-top: 30px;
}

.feature-card img{
    width: 40px;
}

/* Big feature */

.big-feature{
    padding: 30px var(--inline-padding-section) 0;
}

.bf-main{
    gap: 50px;
}

.big-feature-img img{
    width: 100%;
}

.big-feature-content{
    flex-direction: column;
    align-items: flex-start;
}

#bf{
    flex-direction: row-reverse;
}

/* Examples */

.examples{
    padding: 25px var(--inline-padding-section) 0 ;
}
.ex-head a{
    margin-block: 20px;
}
.ex-head{
    text-align: center;
}

.ex-imgs{
    justify-content: space-between;
    gap: 10px;
}

.card{
    width: 23%;
     position: relative; 
    background-color: black;
    min-height: 300px;
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(Assets/asset\ 36.jpeg);
    background-size: cover;
}

.card:hover{
    box-shadow: 0 0 10px #888;
}

.card-text{
    position:absolute;
    color: white;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

/* CTA */

.cta{
    padding: 60px var(--inline-padding-section) 40px;
    background-color: #183b56;
    margin-top: 30px;
    width: 100%;
}
.cta-content ,.cta-content p, .cta-content a{
    text-align: center;
    flex-direction: column;
    color: white !important;
    gap: 30px;
}

/* Footer */

footer{
    padding-block: 80px;
    background-color: rgb(251, 239, 255);
}

.footer-logo img{
    width: 200px;
}

.footer-main{
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.footer-links{
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

/* Sub-footer */

.sub-footer{
    background-color: #b9cde4;
    padding: var(--inline-padding-section);
}

.subf-main{
    justify-content: center;
    gap: 20px;
}
